/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #f5f5f5;
}


header {
    background-color: #58e89e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}


.center-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-logo a {
    text-decoration: none;
    color: #fff;
}

.center-logo img {
    width: 60px; /* Adjust as needed */
    height: auto;
}

.logo-text {
    font-size: 28px; /* Adjust font size as needed */
    margin-left: auto; /* Push the text to the right */
    color: #000000;
}


.left-links li {
    margin-left: 180px;
    font-size: 20px;
}

.right-links li {
    margin-right: 180px;
    font-size: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0; /* Remove default padding */
}





nav ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0f0f0;
}



nav ul li a {
    color: #58e89e;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #000000;
    transition: background-color 0.3s, border-color 0.3s;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}



.exercise-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Align items to the top */
    margin-top: 50px;
    margin-bottom: 70px;
    gap: 30px;

}

.exercise {
    width: 50%; /* Each rectangle takes up 50% of the page width */
    padding: 10px;
    background-color: black;
    border-radius: 6px;
    border: 3px solid #58e89e;
    color: white;
    text-align: center;
    font-color: black;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    transition: margin-bottom 0.9s; /* Add a transition for smooth effect */
}


.exercise-details.show {
    display: block; /* Display when the .show class is added */
    margin-bottom: 7px; /* Adjust the value as needed */
    margin-top: 13px;
    background-color: #fff;
    color: black;
    border: 3px solid #58e89e;
    border-radius: 4px;


}

.exercise-details-text {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 15px;

}


.exercise-details {
    display: none;
}


.arrow {
    display: inline-block;
    transform: rotate(0deg); /* Initial rotation */
    transition: transform 0.3s; /* Add transition for smooth rotation */
    margin-right: 5px;
}

.rotate {
    transform: rotate(180deg); /* Rotate arrow when .rotate is active */
}

.exercise-details.show img {
    max-width: 100%; /* Adjust the value as needed */
    height: auto; /* Maintain the aspect ratio */
}

.result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.result-box {
    width: calc(15% - 20px); /* Each result box takes up 20% of the width minus spacing */
    display: inline-block;
    text-align: center;
    padding: 20px;
    background-color: black;
    border-radius: 6px;
    border: 3px solid #58e89e;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: margin-bottom 0.9s;
    margin: 10px;
    margin-left:32px;
}

.result-label {
    font-size: 20px;
    margin-bottom: 5px;
}

.result-value {
    font-size: 20px;
}


.loading-container {
    position: fixed;
    top: 40%;
    left: 43%;
    width:100px;
    height:100px;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: #58e89e;
    padding:50px;
    border-radius: 50%;
    border-color: #f5f'
    border-width: 10px;
    display: none;
    animation: rotate 1s linear infinite;
}



.file-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

#upload-form {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Style for the file input */
#file-input {
    display: none;
}

#file-label {
    display: inline-block; /* Display the label inline */
    background-color: #000;
    color: #58e89e;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left:39%;
    align-items: center;
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
}

#file-label:hover {
    background-color: #fff;
    border-radius: 4px;
    border: 3px solid #58e89e;
}

/* Style for the analyze button */
#analyze-button {
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
    background-color: #000;
    color: #58e89e;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 100px;
}

#analyze-button:hover {
    background-color: #fff;
    border-radius: 4px;
    border: 3px solid #58e89e;
}




/* ... (previous CSS rules) ... */

/* Style for the table */
table {
    width: 70%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 6px;
    border: 3px solid #58e89e;
}

table th,
table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
}

table th {
    background-color: #000;
    color: #58e89e;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f5f5f5;
}

table td.red-bg {
    background-color: #ea9999;
    color: white;
}

table tr:hover {
    background-color: #58e89e; /* Change the background color on hover */
}

.train {
    margin-top: 30px;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    font-size: 25px;
    color: #58e89e;
    background-color: #000;
    border: 3px solid #58e89e;
    margin-left: 15%;
    margin-right: 15%;
    height: 50px;
    display: flex; /* Use flexbox for vertical alignment */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */


}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }


