<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add this script tag to include the Plotly library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Exercises</title>
</head>
<body>
    <header>
        <nav>
            <ul class="left-links">
                <li><a href="/trainings">Trainings</a></li>
                <li><a href="/analyze">Analyze</a></li>
            </ul>
        </nav>
        <div class="center-logo">
            <a href="/">
                <img src="/static/logo.png" alt="RehApp Logo">
            </a>
            <span class="logo-text">RehApp</span>
        </div>
        <nav>
            <ul class="right-links">
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">

        <form id="upload-form" enctype="multipart/form-data">
            <label for="file-input" id="file-label">Choose File</label>
            <input type="file" id="file-input" style="display: none;" accept=".xlsx, .csv" required>
            <button type="button" id="analyze-button">Analyze</button>
        </form>
        <div id="loading-container" style="display: none;" class="loading-container">
            <div>Loading...</div>
        </div>
        <div id="result-container">
            <!-- Rectangles for displaying the results -->
            <div class="result-box">
                <div class="result-label">Bend</div>
                <div class="result-value" id="bend-result"></div>
            </div>
            <div class="result-box">
                <div class="result-label">Circular Raise</div>
                <div class="result-value" id="circular-raise-result"></div>
            </div>
            <div class="result-box">
                <div class="result-label">Abduction</div>
                <div class="result-value" id="abduction-result"></div>
            </div>
            <div class="result-box">
                <div class="result-label">Rear Touch</div>
                <div class="result-value" id="rear-touch-result"></div>
            </div>
            <div class="result-box">
                <div class="result-label">Side Bend</div>
                <div class="result-value" id="side-bend-result"></div>
            </div>
        </div>

        <div id="plot-container" style="display: none;">
            <div class="plot-row">
                <div id="accelerometer-plot" class="plot"></div>
                <div id="gravity-plot" class="plot"></div>
            </div>
            <div class="plot-row">
                <div id="gyroscope-plot" class="plot"></div>
                <div id="orientation-plot" class="plot"></div>
            </div>
        </div>


    </div>


</body>

<script>
    const fileLabel = document.getElementById('file-label');
    const fileInput = document.getElementById('file-input');

    // Listen for changes to the file input
    fileInput.addEventListener('change', () => {
        const fileName = fileInput.files[0]?.name || 'Choose File';
        fileLabel.textContent = fileName;
    });

    // Function to display plots
    function displayPlots(data) {
        // Clear existing plots
        document.querySelectorAll('.plot').forEach(plot => {
            plot.innerHTML = '';
        });
        // Define the width and height for the plots
        const plotWidth = 630; // Adjust as needed
        const plotHeight = 400; // Adjust as needed

        // Create and display accelerometer and gravity plots in the first row
        Plotly.newPlot('accelerometer-plot', [
            { x: data.seconds_elapsed, y: data.acc_x, name: 'acc_x' },
            { x: data.seconds_elapsed, y: data.acc_y, name: 'acc_y' },
            { x: data.seconds_elapsed, y: data.acc_z, name: 'acc_z' }
        ], {
            title: 'Accelerometer Data',
            xaxis: { title: 'Time (seconds)' },
            yaxis: { title: 'Acceleration' },
            width: plotWidth,
            height: plotHeight
        });

        Plotly.newPlot('gravity-plot', [
            { x: data.seconds_elapsed, y: data.gra_x, name: 'gra_x' },
            { x: data.seconds_elapsed, y: data.gra_y, name: 'gra_y' },
            { x: data.seconds_elapsed, y: data.gra_z, name: 'gra_z' }
        ], {
            title: 'Gravity Data',
            xaxis: { title: 'Time (seconds)' },
            yaxis: { title: 'Gravity' },
            width: plotWidth,
            height: plotHeight
        });

        // Create and display gyroscope and orientation plots in the second row
        Plotly.newPlot('gyroscope-plot', [
            { x: data.seconds_elapsed, y: data.gyr_x, name: 'gyr_x' },
            { x: data.seconds_elapsed, y: data.gyr_y, name: 'gyr_y' },
            { x: data.seconds_elapsed, y: data.gyr_z, name: 'gyr_z' }
        ], {
            title: 'Gyroscope Data',
            xaxis: { title: 'Time (seconds)' },
            yaxis: { title: 'Angular Velocity' },
            width: plotWidth,
            height: plotHeight
        });

        Plotly.newPlot('orientation-plot', [
            { x: data.seconds_elapsed, y: data.ori_x, name: 'ori_x' },
            { x: data.seconds_elapsed, y: data.ori_y, name: 'ori_y' },
            { x: data.seconds_elapsed, y: data.ori_z, name: 'ori_z' }
        ], {
            title: 'Orientation Data',
            xaxis: { title: 'Time (seconds)' },
            yaxis: { title: 'Orientation' },
            width: plotWidth,
            height: plotHeight
        });
                // Show the plot container
        const plotContainer = document.getElementById('plot-container');
        plotContainer.style.display = 'block';
    }


    document.getElementById('analyze-button').addEventListener('click', async () => {
        const fileInput = document.getElementById('file-input');
        const loadingContainer = document.getElementById('loading-container');
        const resultContainer = document.getElementById('result-container');
        const plotContainer = document.getElementById('plot-container'); // New
        const formData = new FormData();
        formData.append('file', fileInput.files[0]);

        try {
            loadingContainer.style.display = 'flex'; // Display loading process
            resultContainer.style.display = 'none'; // Hide result container

            const response = await fetch('/analyzes/', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const resul = await response.json();
                const result = resul.summary_count
                document.getElementById('bend-result').textContent = result.BEND || '0';
                document.getElementById('circular-raise-result').textContent = result.CIRCULAR_RAISE || '0';
                document.getElementById('abduction-result').textContent = result.ABDUCTION || '0';
                document.getElementById('rear-touch-result').textContent = result.REAR_TOUCH || '0';
                document.getElementById('side-bend-result').textContent = result.SIDE_BEND || '0';
                // Display plots using the returned plot data
                displayPlots(resul.plot_data); // New

                loadingContainer.style.display = 'none'; // Hide loading process
                resultContainer.style.display = 'block'; // Display result container
                plotContainer.style.display = 'block'; // Display plot container
            } else {
                console.error('Analyze request failed.');
                loadingContainer.style.display = 'none'; // Hide loading process on error
            }
        } catch (error) {
            console.error('An error occurred:', error);
            loadingContainer.style.display = 'none'; // Hide loading process on error
        }
    });




</script>


</html>
