<!DOCTYPE html>
<html>
<head>
    <title>List of Files</title>
</head>
<body>
    <h1>List of Files</h1>
    <table>
        <tr>
            <th>File Name</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
        {% for file in files %}
            <tr>
                <td>{{ file.filename }}</td>
                <td><a href="{{ url_for('display_file', file_id=file.id) }}">View</a></td>
                <td>
                    <form action="{{ url_for('delete_file', file_id=file.id) }}" method="delete">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
